@model CheckYourStocks.Models.Stock
@{
    ViewBag.Title = "Добавление Акции";
}
    <form asp-action="create" asp-controller="home">
        <div class="form-group">
            <label asp-for="Date" class="control-label">Дата</label>
            <input type="date" asp-for="Date" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Name" class="control-label">Название</label>
            <input name="Name" type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Cost" class="control-label">Стоимость</label>
            <input name="Cost" type="number" step="0.01" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Добавить" class="btn btn-default" />
        </div>
    </form>

