@{
    ViewBag.Title = "Привествие";
}

<form asp-action="create" asp-controller="home">
    <label>Здесь будет красиво</label>
    <div class="form-group">
        <a asp-action="Menu">Начать</a>
    </div>
</form>
