@model CheckYourStocks.Models.FilterListStocks
@{
    ViewBag.Title = "Динамика цен";
}
<a asp-action="Menu">Вернутся в меню</a>

<head>
    <link rel="stylesheet" href="dashboard.css">
    <link href="dashboard.js">

</head>
<body>
   
    
</body>
