@model IEnumerable<CheckYourStocks.Models.Stock>
@{
    ViewBag.Title = "Все акции";
}
<!DOCTYPE html>
<html>
<head>
   
</head>
<body>

    <div class="stolb">
        <menu class="block">
            <li class="record"><a asp-action="ChartStock" class="content">Посмотреть динамику акций</a> </li>
            <li class="record"><a asp-action="Login" class="content">Сменить пользователя</a> </li>
        </menu>
    </div>

    <header>
        <h1>Все акции</h1>
    </header>
    <table class="table">
        <tr><td>Дата</td><td>Название</td><td>Стоимость</td></tr>
        @foreach (var item in Model)
        {
            <tr><td>@item.Date</td><td>@item.Name</td><td>@item.Cost</td></tr>
        }
    </table>
</body>
</html>


